<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Noma{% endblock %}</title>

        {% stylesheets output='css/styles.css' filter='cssrewrite'
        '../vendor/twitter/bootstrap/css/bootstrap.min.css'
        '../vendor/twitter/bootstrap/css/bootstrap-responsive.css'
        'bundles/nomanoma/css/noma.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts filter=''
        '../vendor/jquery/jquery-1.8.*.js'
        '../vendor/twitter/bootstrap/js/bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('/noma/web/bundles/nomanoma/js/noma.js') }}"></script>
        {% block head_extra %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Noma</a>
                    <ul class="nav">
                        <li id="nav-nodes"><a href="{{ path('noma_noma_homepage') }}">nodes</a></li>
                        <li id="nav-services"><a href="{{ path('noma_noma_services') }}">services</a></li>
                        <li><a href="/noma/nodepropdefs/index/">nodepropdefs</a></li>
                        <li><a href="/noma/cf_promises/index/">cf_promises</a></li>
                        <li><a href="/noma/cf_promiseprops/index/">cf_promiseprops</a></li>
                        <li><a href="/noma/cf_promisepropdefs/index/">cf_promisepropdefs</a></li>
                        <li><a href="/noma/cf_files/index/">cf_files</a></li>
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock %}

            <hr>
            <p>Copyright &copy; 2012 <a href="https://github.com/jkossen/noma">Noma</a>. All rights reserved.</p>
        </div>
    </body>
</html>
